@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

#product-overview{
    background: #ff1b68;
}

/*combinators*/
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title{
    color: #2ddf5c;
}