/*Product overview start*/
#product-overview{
    /*background: url("../images/freedom.jpg");*/
    /*background-image: url("../images/freedom.jpg");*/
    background-image: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("../images/freedom.jpg");
    background-color: #ff1b68;
    background-size: cover; /*cover; contain; 100%; 100px*/
    background-position: left 10% bottom 20%; /*left top right bottom; 0% 100%; left top, left bottom; left 10% bottom 20%; center; */
    background-repeat: no-repeat;
    background-origin: border-box; /*border-box; content-box; padding-box*/
    background-clip: border-box; /*padding-box; content-box; border-box;*/
    /*background-attachment: fixed;*/ /*fixed, scroll, local*/

    /*border: 5px dashed red;*/
    width: 100%;
    /*border: 5px black solid;
    margin: 10px;*/
    height: 528px;
    padding: 10px;
    margin-top: 43px;
    position: relative;
}

/*combinators*/
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}
/*Product overview end*/

/*Plans Start */
.section-title{
    color: #2ddf5c;
    text-align: center;

}

#plans > .plan_list{
    width: 80%;
    margin: auto;
    text-align: center;
}

#plans > div > article.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

#plans > div > article.plan--highlighted{
    background-color: #19b84c;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5);
    border-radius: 0 0 12px 0;

}

#plans > div > article.plan > .plan__annotation{
    background: #fff;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5);
    border-radius: 4px;
}

#plans > div > article.plan > .plan__title{
    color: #0e4f1f;
}

#plans > div > article.plan > .plan__price{
    color: #858585;
}

#plans > div > article.plan--highlighted > .plan__title{
    color: #fff;
}

#plans > div > article.plan--highlighted > .plan__price{
    color: #0e4f1f;
}

#plans > div > article.plan > ul.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

#plans > div > article.plan > ul.plan__features li{
    margin: 8px 0;

}

#plans > div > article.plan .plan__action_button{
    background-color: #0e4f1f;
    color: #fff;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

#plans > div > article.plan .plan__action_button:active,
#plans > div > article.plan .plan__action_button:hover{
    background: #fff;
    color: #0e4f1f;
}

#plans > div > article.plan .plan__action_button:focus{
    outline: none;
}
/*Plans End*/

/*key-features start*/
#key-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;;
}

#key-features > .section-title{
    color: #fff;
    margin: 32px;
}

#key-features > ul.key-features__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#key-features > ul.key-features__items > li.key-features__item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

#key-features > ul.key-features__items > li.key-features__item > .key-features__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;

    /*after adding svg*/
    padding: 20px;
}

#key-features > ul.key-features__items > li.key-features__item > .key-features__description {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}


/*key-features end*/