$main-color: #521751;
$list-hover: #fa923f;
$white: white;
$details-background: #fae5ff;
$box-shadow:  #ccc;

//we can create map of color as above
$colors: (
    main: #521751, 
    secondary: #fa923f, 
    white: white, 
    background: #fae5ff, 
    boxShadow: #ccc
);

$size: (
    tiny: 1rem,
    medium: 1.4rem,
    medium-extra: 2rem,
    large: 3rem
);

/*list*/
$border-default: 0.05rem solid $main-color;